.sidebar-btn-wrapper {
    a {
        padding: 10px;
        background-color: black;
        border-radius: 20px;
        color: #eeeeeebf;
        text-decoration: none;
        svg {
            color: #fff;
        }
        span {
            margin-left: 10px;
        }
    }
}
