.main-timer {
    border-bottom: 1px dashed ;
    padding-bottom: 20px;
    text-align: center;
    padding-top: 10px;
    font-weight: 600;
    font-size: 20px;
}

.main-question {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding: 15px;
    .question {
        border: 1px solid #929292;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            color: red
        }

        &.selected {
            background-color: #c6c6c6;
        }

        &.clicked {
            color: red
        }
        
    }
}